@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body{
    background: url(../public/images/bg-intro-desktop.svg) no-repeat;
    background-position: 100% 2%;
    background-size: contain;
} */

.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}

#nav{
    transition: all 1s ease-in;
    transition-delay: 1s;
}

@media (max-width:768px) {
    .animation{
        transform: translateX(-10px);
    }
}